body{
    background-color: aqua;
}
.dashboard {
    display: flex;
    height: 100px;
}
.sidebar {
    width: 230px;
    background: brown;
    color: white;
    padding: 20px;
}
.sidebar h2 {
    margin-bottom: 30px;
}

.main {
    flex: 1;
    padding: 20px;
}
.header {
    background: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8
}
.header button {
    padding: 8px 15px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px 0;
}
.card {
    background: white;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px #ccc;
}
.content {
    background: white;
    padding: 30px;
    border-radius: 8px;
    min-height: 250px;
}