h1{
    color: blue;
}

p{
    color: green;
}
h2{
    color:red;
    font-size:40px;
}
h1{
    color:blue;
    color: red;
}
h3{
    color:blue;
    text-align:center;
}

p1{
    color:green;
    font-size:20px;
}
