body{
    font-family: Arial;
    background-color: aliceblue;
    text-align: center;
}

h1{
    color: darkblue;
}

.card{
    border:2px solid black;
    width:300px;
    margin:auto;
    padding:20px;
    border-radius:10px;
    background:white;
}
