h2{

    color: blueviolet;
}

p{
    color:palevioletred
}
#title{
    color:orangered
}
.text{
    color:blue
}
*{
    margin:auto
}
h1,p,button{
    color:yellowgreen;
}
h6{
color:red;
}

.title{
color:green;
}

#heading{
color:blue;
}
h4{
    color:red;
    color:#ff0000;
    color:rgb(255,0,0);
    color:rgba(255,0,0,0.5);
}
.box{

background-color:yellow;
}
body{
    background-image:url(https://i.pinimg.com/originals/da/1c/97/da1c97e6100e17a9e4bdf5a2b2e1c043.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
h1{
    border:2px solid black;
    border-radius:10px;
}
